* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(230, 200, 149);
  font-family: "Rubik", sans-serif;
}

#contenedor {
  width: 900px;
  height: 1000px;
  background-color: bisque;
  margin: 15px auto;
}

#cabecera {
  width: 100%;
  height: 15%;
  background-color: rgb(230, 200, 149);
  display: block;
}

#menu {
  width: 100%;
  height: 5%;
  background-color: rgb(171, 161, 134);
  display: flex;
  align-items: center;
  justify-content: center;
}

#seccion {
  height: 70%;
  width: 64%;
  float: left;
  background-color: rgb(151, 158, 54);
}

#aside {
  height: 70%;
  width: 35%;
  float: right;
  background-color: rgb(190, 193, 79);
}

#pie {
  width: 100%;
  height: 10%;
  background-color: rgb(230, 200, 149);
  display: inline-block;
  text-align: center;
}

.encabezado {
  font-size: 40px;
  text-align: center;
  margin: 0;
  padding-top: 90px;
}

ul {
  display: flex;
  text-align: center;
}

li {
  list-style: none;
}

img {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin-right: 5px;
  margin-left: 5px;
}

.barraNavegacion li a {
  text-decoration: none;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
}

.barraNavegacion li a:hover {
  text-decoration: underline;
  color: white;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 22px;
}

.pieNavegacion {
  color: rgb(34, 34, 34);
  font-size: small;
}

.texto {
  font-size: 18px;
}

#aside ul {
  flex-direction: column;
  padding: 20px;
  margin-top: 40px;
}

.resumen {
  width: 80%;
  text-align: justify;
  margin-left: 40px;
}

.imagenes {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

#seccion h2 {
  margin: 40px;
  margin-top: 60px;
}
